[submodule "rcan"]
	path = rcan
	url = git@github.com:RoboticsHardwareSolutions/rcan.git
[submodule "rserial"]
	path = rserial
	url = git@github.com:RoboticsHardwareSolutions/rserial.git
[submodule "runit"]
	path = runit
	url = git@github.com:RoboticsHardwareSolutions/runit.git
[submodule "rbtn"]
	path = rbtn
	url = git@github.com:RoboticsHardwareSolutions/rbtn.git
[submodule "rbuffer"]
	path = rbuffer
	url = git@github.com:RoboticsHardwareSolutions/rbuffer.git
[submodule "rcrc"]
	path = rcrc
	url = git@github.com:RoboticsHardwareSolutions/rcrc.git
[submodule "rbase64"]
	path = rbase64
	url = git@github.com:RoboticsHardwareSolutions/rbase64.git
[submodule "rtimeout"]
	path = rtimeout
	url = git@github.com:RoboticsHardwareSolutions/rtimeout.git
[submodule "rtimer"]
	path = rtimer
	url = git@github.com:RoboticsHardwareSolutions/rtimer.git
[submodule "rstorage"]
	path = rstorage
	url = git@github.com:RoboticsHardwareSolutions/rstorage.git
[submodule "rlog"]
	path = rlog
	url = git@github.com:RoboticsHardwareSolutions/rlog.git
[submodule "rproto"]
	path = rproto
	url = git@github.com:RoboticsHardwareSolutions/rproto.git
[submodule "rdebug"]
	path = rdebug
	url = git@github.com:RoboticsHardwareSolutions/rdebug.git
[submodule "rnode"]
	path = rnode
	url = git@github.com:RoboticsHardwareSolutions/rnode.git
[submodule "rboot"]
	path = rboot
	url = git@github.com:RoboticsHardwareSolutions/rboot.git
[submodule "rlibhelper"]
	path = rlibhelper
	url = git@github.com:RoboticsHardwareSolutions/rlibhelper.git
